/* Reset default margin and padding */
body,
h1,
h2,
p,
ul,
li,
a,
form {
    margin: 0;
    padding: 0;
    text-decoration: none;
    scroll-behavior: smooth;
}
button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    background-color: #f2f2f2;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 18px;
    align-items: center;
}

nav ul li:hover {
    background-color: black;
    padding: 4px 10px;
    border-radius: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    color: #888;
    margin-bottom: 40px;
}

.cta-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.feature-title {
    text-align: center;
}
.feature {
    text-align: center;
    padding: 40px 0px;
}

.feature img {
    width: 250px;
    margin-bottom: 20px;
}

.feature h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.feature p {
    font-size: 16px;
    color: #888;
}

#benefits {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

#benefits h2 {
    margin-bottom: 40px;
}

.benefit-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.benefit-list li {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.benefit-list img {
    width: 80px;
    margin-bottom: 10px;
}

#contact {
    background-color: #eee;
    padding: 40px;
    text-align: center;
}

#contact h2 {
    margin-bottom: 16px;
}
#contact p {
    margin-bottom: 10px;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 400px;
    margin: 0 auto;
}

#contact input,
#contact textarea {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact button {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 16px;
    padding: 50px 50px;
}
